.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobbyChat {
    width: 40pc;
    min-height: 40vh;
    max-height: 40vh;
    margin-bottom: .5em;
    overflow: scroll;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 15px;
}

.chat {
    width: 55pc;
    min-height: 35vh;
    max-height: 35vh;
    margin-bottom: .5em;
    overflow: scroll;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

.lobbyMsg {
    display: flex;
    gap: 10px;
    height: 20px;
}

.msg {
    display: flex;
    gap: 10px;
    height: 20px;
}

/* COLOR DEL NOMBRE DEL USUARIO EN MENSAJE, DEPENDIENDO DEL EQUIPO */
/* ##################################################### */

.color1{
    color: #84c2e1;
    font-weight: 600;
}
.color2{
    color: #84e187;
    font-weight: 600;
}
.color3{
    color: #e0e184;
    font-weight: 600;
}
.color4{
    color: #ebab84;
    font-weight: 600;
}
.color5{
    color: #ffa2a2;
    font-weight: 600;
}
.color6{
    color: #e184c9;
    font-weight: 600;
}
.colorDefault{
    font-weight: 600;
}

/* ##################################################### */
/* ##################################################### */

.lobbyInput {
    width: 25pc;
    border: solid 2px #d0d0d0;
    border-radius: 3px;
    height: 20px;
    margin-bottom: 10%;
}

input {
    width: 25pc;
}



@media screen and (max-width: 768px) {
    
    .lobbyChat {
        width: 30pc;
        min-height: 35vh;
        max-height: 35vh;
    }

    .chat {
        width: 30pc;
        min-height: 35vh;
        max-height: 35vh;
        margin-bottom: .5em;
        overflow: scroll;
        border: 2px solid black;
        background-color: rgba(255, 255, 255, 0.6);
        font-size: 15px;
    }
}