.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 102%;
    background: #123456;
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.questionSection {
    display: flex;
    flex-direction: column;
    /* gap: 7pc; */
}

/* COLOR DEL EFECTO CIRULAR, DEPENDIENDO DEL EQUIPO */
/* ##################################################### */
.circleEffect1 {
    background: #a2e0ff;
    width: 125pc;
    border-top: solid 1px #84c2e1;
    border-radius: 120pc 120pc 0 0;
    height: 42pc;
    z-index: -1;
    margin-top: -40%;
}
.circleEffect2 {
    background: #a2ffa5;
    width: 125pc;
    border-top: solid 1px #84e187;
    border-radius: 120pc 120pc 0 0;
    height: 42pc;
    z-index: -1;
    margin-top: -40%;
}
.circleEffect3 {
    background: #feffa2;
    width: 125pc;
    border-top: solid 1px #e0e184;
    border-radius: 120pc 120pc 0 0;
    height: 42pc;
    z-index: -1;
    margin-top: -40%;
}
.circleEffect4 {
    background: #ffc9a2;
    width: 125pc;
    border-top: solid 1px #ebab84;
    border-radius: 120pc 120pc 0 0;
    height: 42pc;
    z-index: -1;
    margin-top: -40%;
}
.circleEffect5 {
    background: #ffa2a2;
    width: 125pc;
    border-top: solid 1px #ffa2a2;
    border-radius: 120pc 120pc 0 0;
    height: 42pc;
    z-index: -1;
    margin-top: -40%;
}
.circleEffect6 {
    background: #ffa2e7;
    width: 125pc;
    border-top: solid 1px #e184c9;
    border-radius: 120pc 120pc 0 0;
    height: 42pc;
    z-index: -1;
    margin-top: -40%;
}
/* ##################################################### */
/* ##################################################### */