.mainDiv {
    background: linear-gradient(rgba(255, 255, 255, 0.55),rgba(255, 255, 255, 0.55)), url('../../img/1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    min-height:100vh;
    background-size: cover; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5pc;
}

.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 13%;
    position: fixed;
    top: 90%;
    left: 1%;
    background-color: #ffffff6e;
    border-radius: 5px;
}

.name {
    font-size: 10px;
    font-variant: all-petite-caps;
}

.links {
    display: flex;
    place-content: center;
    justify-content: space-around;
}