.mainDiv {
    background: linear-gradient(rgb(77 255 45 / 20%),rgb(255 162 162 / 20%));
    width: 100%;
    min-height:100vh;
    background-size: cover; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5pc;
}
